.slider{
    background-image: url(img/bg-4.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.texto-1 {
    font-family: 'Parisienne', cursive;
}

.texto-3 {
    font-family: 'Roboto', sans-serif;
}

.contenedor-imagen {
    margin-top: -3rem;
}

.imagen-foto {
    border-radius: 50%;
    border-image-outset: 2rem;
    
}

.capa {
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}
:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.nombre-titulo-perfil-ft {
    margin-top: -3rem;
    
}

.icono-social li a:hover {
    transform: scale(1.1);
    
}


