.slider{
   background: #009FFF;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(236, 47, 75), rgba(0, 157, 255, 0.124)), url(img/bg-5.jpg);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgba(236, 47, 75, 0.563), rgba(0, 157, 255, 0.282)), url(img/bg-5.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-image: url(img/bg-4.jpg);*/
    background-size: cover;
    background-position: center;
    height: 550px;
    
}

.texto-1 {
    font-family: 'Parisienne', cursive;
}

.texto-3 {
    font-family: 'Roboto', sans-serif;
}

.contenedor-imagen {
    margin-top: -3rem;
}

.imagen-foto {
    border-radius: 50%;
    border-image-outset: 2rem;
    
}

.fondo-s {
    background: rgb(5, 50, 199);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(112, 2, 116, 0.871), rgba(69, 104, 220, 0.357));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(64, 0, 67, 0.857), rgba(5, 41, 158, 0.83)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*.capa {
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}*/
:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.nombre-titulo{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.nombre-titulo-perfil-ft {
    margin-top: -3rem;
    
}

.icono-social li a:hover {
    transform: scale(1.1);
    
}


